@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  color: white;
  padding: 25px 5%;
}

h1{
    @apply text-4xl;
}

.router-link-exact-active {
    @apply text-red-400;
}

@layer components {
  
}

@media screen and (min-width: 768px) {
    body{
        padding: 25px 8%;
    }
}

@media screen and (min-width: 992px) {
    body{
        padding: 25px 10%;
    }
}

@media screen and (min-width: 1200px) {
    body{
        padding: 25px 15%;
    }
}